<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}My Feedback Site{%endblock title%}</title>

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        background-color: lightblue;
      }
      header,
      footer {
        background: #333;
        padding: 10px;
        color: white;
      }
      nav a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
      }
      main {
        background: white;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Feedback Page</h1>
      <nav>
        <a href="/feedback.html">Feedback</a>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy;;2026 CODINGWITH ME</p>
    </footer>
  </body>
</html>
